In [3]:
# Librerias
## tratamiento de datos
import pandas as pd
import numpy as np

## visualizacion
import matplotlib.pyplot as plt
import seaborn as sb

#Advertencias
import warnings
warnings.filterwarnings("ignore")

In [5]:
data= pd.read_csv('datos_caso_3.csv')

In [6]:
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2500 non-null   int64
 1   Person ID                2500 non-null   int64
 2   Gender                   2500 non-null   object
 3   Age                      2500 non-null   int64
 4   Occupation               2500 non-null   object
 5   Sleep Duration           2500 non-null   float64
 6   Quality of Sleep         2500 non-null   int64
 7   Physical Activity Level  2500 non-null   int64
 8   Stress Level             2500 non-null   int64
 9   BMI Category             2500 non-null   object
 10  Blood Pressure           2500 non-null   object
 11  Heart Rate               2500 non-null   int64
 12  Daily Steps              2500 non-null   int64
 13  Sleep Disorder           1052 non-null   object
dtypes: float64(1), int64(8), object(5)
memory usage: 273.6+ KB

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,55,1,Male,32,Doctor,6.0,6,30,8,Normal,125/80,72,5000,NaN
1,341,2,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,NaN
2,352,3,Female,58,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
3,134,4,Male,38,Lawyer,7.3,8,60,5,Normal,130/85,68,8000,NaN
4,264,5,Male,48,Doctor,7.3,7,65,5,Obese,142/92,83,3500,Insomnia